#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header,
.footer {
    min-height: 60px;
    background-color: #453c7e;
    padding: 2px 15px;
    display: flex;
    align-items: center;
}
 
.header{
    h1,
    .navbar-expand .navbar-nav .nav-link {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .navbar-expand .navbar-nav .nav-link:hover{
        color: #fff;
        transform: scale(1.05);
        transition: 0.5s ease;
    }

    h1 {
        color: #fff;
        margin-left: 10px;
    }
    .navbar-expand .navbar-nav .nav-link{
        color: #fff;
        background-color: #564c9c;
        margin: 0 10px;
        border-radius: 10px;
        padding: 10px 15px;
        box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    }
}


.main {
    flex: 1;
}

.navbar-brand {
    display: flex;
    align-items: center;
}